{% extends 'base.html.twig' %}

{% block title %}Hello SerieController!{% endblock %}

{% block body %}
    {% for message in app.flashes('warning') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}





{% endblock %}